<ion-header translucent="true">
  <!-- <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Schedule</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <!-- <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>






<ion-content fullscreen="true" class="background">

<body>
<!-- <div class="head">
  <li id="head">2020  ธันวาคม</li>
  <li class="drop"><ion-icon name="caret-down-sharp"></ion-icon></li>
</div> -->

  <!-- <ul class="daytab"> -->
    <!-- <p id="weekdays">อา</p> -->
    <div class="head"> 
      <ul>
        <li class="next"><ion-icon name="caret-down-sharp" style="width: 20px; height: 30px;"></ion-icon></li>
        <li>2020 ธันวาคม</li>
      </ul>
    </div>
    
    <ul class="weekdays">
      <li>อา</li>
      <li>จ</li>
      <li>อ</li>
      <li>พ</li>
      <li>พฤ</li>
      <li>ศ</li>
      <li>ส</li>
    </ul>

    <ul class="days">
      <li></li>
      <li></li> 
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li><span class="active"><span class="sub">30</span></span></li>
      <li>31</li>
    </ul>

    <ul class="activi">
      <li><span class="Elip">กิจกรรมวันนี้</span></li>
    </ul>
    <div id="act">
      <button  (click) = "createPopOver()" class="block" style="background-color:#87d082" >
        <li class="l1">10:30</li>
        <li class="l2">30-12-2020</li>
        <li class="l3">ประชุม</li>
      </button>
    </div>
  
 

  

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="add" style="zoom:2.0;"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="openActivity()" class="custom-fab">   
        <ion-img src = "assets/img/icons8-activity-feed-64.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start"> 
      <ion-fab-button color="light" class="custom-fab">
        <ion-img src="assets/img/icons8-diary-96.png" style="width: 30px; height: 30px;" ></ion-img>
       
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="end">
      <ion-fab-button color="light" class="custom-fab">
        <ion-img src="assets/img/icons8-wallet-128.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</body>
</ion-content>
